@{
  ViewData["Title"] = "Donate";
}

<!-- ============HEADER============= Views/Home/_Layout.cshtml -->

<div class="divider col-sm-12 col-xs-12 col-md-12">
  <div class="header-text"><span>Importância </span>da<span>Doações</span></div>
</div>

<div class="container donate-text">
  <h3 class="">A doação é um ato de generosidade que tem o poder de transformar vidas. 
    Em um mundo onde muitas pessoas enfrentam dificuldades para suprir necessidades básicas,
     cada doação, por menor que seja, pode fazer uma diferença significativa. A seguir, destacamos
      alguns dos principais motivos pelos quais a doação é tão crucial:</h3>

  <p><strong>1. Apoio a Comunidades Necessitadas</strong></p></b>
  <p><strong>2. Promoção da Solidariedade </strong></p></b>
  <p><strong>3. Redução do Desperdício </strong></p></b>
  <p><strong>4. Fomento à Inclusão Social </strong></p></b>
  <p><strong>5. Inspiração e Exemplo </strong></p></b>
  <p><strong>6. Benefícios Emocionais e Psicológicos </strong></p></b>
</div>

<div class="fun-fact col-md-12">
  <div class="stat">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="milestone-counter">
        <i class="fa fa-users fa-3x"></i>
        <span class="stat-count highlight">422</span>
        <div class="milestone-details">Voluntários</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="milestone-counter">
        <i class="fa fa-map-marker fa-3x"></i>
        <span class="stat-count highlight">26</span>
        <div class="milestone-details">Países</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="milestone-counter">
        <i class="fa fa-trophy fa-3x"></i>
        <span class="stat-count highlight">14</span>
        <div class="milestone-details">Prêmios</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="milestone-counter">
        <i class="fa fa-money fa-3x"></i>
        <span class="stat-count highlight">232</span>
        <div class="milestone-details">Monetário</div>
      </div>
    </div>
  </div><!-- stat -->
</div>


<!-- ============FOOTER============= -->

<!-- script references -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/nav-hover.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!-- Place in the <head>, after the three links -->
<script>
  $('.testimonials-slider').bxSlider({
    slideWidth: 800,
    minSlides: 1,
    maxSlides: 1,
    slideMargin: 32,
    auto: true,
    autoControls: true
  });
</script>
<script type="text/javascript">
</script>
