@{
  ViewData["Title"] = "Gallery";
}

<!-- ============HEADER============= Views/Home/_Layout.cshtml -->
<div class="divider col-sm-12 col-xs-12 col-md-12">
  <div class="header-text"><span>Galeria</span> de <span>Doações</span></div>
</div>

<section id="clients">

  <!-- Team Inner -->
  <div class="inner team">

    <!-- Header -->


    <!-- Members -->
    <div class="team-members inner-details">

      <!-- Member -->
      <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="100">
        <div class="member-inner">
          <!-- Team Member Image -->
          <a class="team-image">
            <!-- Img -->
            <img src="~/images/clients/brinquedos.jpg" alt="" />
          </a>
          <div class="member-details">
            <div class="member-details-inner">
              <!-- Name -->
              <h2 class="member-name light">Diversos</h2>
              <!-- Description -->
              <p class="member-description">Estou doando ursinhos de pélucia.</p>
              <!-- Socials -->
              <div class="socials">
                <!-- Image -->
                <a href="#"><i class="fa fa-camera"></i></a>
              </div><!-- End Socials -->
            </div> <!-- End Detail Inner -->
          </div><!-- End Details -->
        </div> <!-- End Member Inner -->
      </div><!-- End Member -->


      <!-- Member -->
      <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="200">
        <div class="member-inner">
          <!-- Team Member Image -->
          <a class="team-image">
            <!-- Img -->
            <img src="~/images/clients/3.jpg" alt="" />
          </a>
          <div class="member-details">
            <div class="member-details-inner">
              <!-- Name -->
              <h2 class="member-name light">Alimentos</h2>
              <!-- Description -->
              <p class="member-description">Estamos doando marmitas de comida.</p>
              <!-- Socials -->
              <div class="socials">
                <!-- Link -->
                <a href="#"><i class="fa fa-link"></i></a>
              </div><!-- End Socials -->
            </div> <!-- End Detail Inner -->
          </div><!-- End Details -->
        </div> <!-- End Member Inner -->
      </div><!-- End Member -->


      <!-- Member -->
      <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="300">
        <div class="member-inner">
          <!-- Team Member Image -->
          <a class="team-image">
            <!-- Img -->
            <img src="~/images/clients/4.jpg" alt="" />
          </a>
          <div class="member-details">
            <div class="member-details-inner">
              <!-- Name -->
              <h2 class="member-name light">Alimentos</h2>
              <!-- Description -->
              <p class="member-description">Doação de cesta básicas e águas.</p>
              <!-- Socials -->
              <div class="socials">
                <!-- Image -->
                <a href="#"><i class="fa fa-camera"></i></a>
              </div><!-- End Socials -->
            </div> <!-- End Detail Inner -->
          </div><!-- End Details -->
        </div> <!-- End Member Inner -->
      </div><!-- End Member -->

      <!-- Member -->
      <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="400">
        <div class="member-inner">
          <!-- Team Member Image -->
          <a class="team-image">
            <!-- Img -->
            <img src="~/images/clients/5.jpg" alt="" />
          </a>
          <div class="member-details">
            <div class="member-details-inner">
              <!-- Name -->
              <h2 class="member-name light">Roupas</h2>
              <!-- Description -->
              <p class="member-description">Doação de roupas de bebês.</p>
              <!-- Socials -->
              <div class="socials">
                <!-- Link -->
                <a href="#"><i class="fa fa-link"></i></a>
              </div><!-- End Socials -->
            </div> <!-- End Detail Inner -->
          </div><!-- End Details -->
        </div> <!-- End Member Inner -->
      </div><!-- End Member -->

      <!-- Member -->
      <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="0">
        <div class="member-inner">
          <!-- Team Member Image -->
          <a class="team-image">
            <!-- Img -->
            <img src="~/images/clients/6.jpg" alt="" />
          </a>
          <div class="member-details">
            <div class="member-details-inner">
              <!-- Name -->
              <h2 class="member-name light">Ração</h2>
              <!-- Description -->
              <p class="member-description">Doação de ração para cachorro.</p>
              <!-- Socials -->
              <div class="socials">
                <!-- Link -->
                <a href="#"><i class="fa fa-link"></i></a>
              </div><!-- End Socials -->
            </div> <!-- End Detail Inner -->
          </div><!-- End Details -->
        </div> <!-- End Member Inner -->
      </div><!-- End Member -->

      <!-- Member -->
      <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="500">
        <div class="member-inner">
          <!-- Team Member Image -->
          <a class="team-image">
            <!-- Img -->
            <img src="~/images/clients/2.jpg" alt="" />
          </a>
          <div class="member-details">
            <div class="member-details-inner">
              <!-- Name -->
              <h2 class="member-name light">Roupas</h2>
              <!-- Description -->
              <p class="member-description">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
              <!-- Socials -->
              <div class="socials">
                <!-- Image -->
                <a href="#"><i class="fa fa-camera"></i></a>
              </div><!-- End Socials -->
            </div> <!-- End Detail Inner -->
          </div><!-- End Details -->
        </div> <!-- End Member Inner -->
      </div><!-- End Member -->

      

      <!-- Member -->
      <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="500">
        <div class="member-inner">
          <!-- Team Member Image -->
          <a class="team-image">
            <!-- Img -->
            <img src="~/images/clients/brinquedos.jpg" alt="" />
          </a>
          <div class="member-details">
            <div class="member-details-inner">
              <!-- Name -->
              <h2 class="member-name light">Diversos</h2>
              <!-- Description -->
              <p class="member-description">Doação de brinquedos em ótimo estado.</p>
              <!-- Socials -->
              <div class="socials">
                <!-- Image -->
                <a href="#"><i class="fa fa-camera"></i></a>
              </div><!-- End Socials -->
            </div> <!-- End Detail Inner -->
          </div><!-- End Details -->
        </div> <!-- End Member Inner -->
      </div><!-- End Member -->

      <!-- Member -->
      <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="500">
        <div class="member-inner">
          <!-- Team Member Image -->
          <a class="team-image">
            <!-- Img -->
            <img src="~/images/clients/1.jpg" alt="" />
          </a>
          <div class="member-details">
            <div class="member-details-inner">
              <!-- Name -->
              <h2 class="member-name light">Movéis</h2>
              <!-- Description -->
              <p class="member-description">Lorem ipsum dolor sit amet consectetur adipiscing.</p>
              <!-- Socials -->
              <div class="socials">
                <!-- Image -->
                <a href="#"><i class="fa fa-camera"></i></a>
              </div><!-- End Socials -->
            </div> <!-- End Detail Inner -->
          </div><!-- End Details -->
        </div> <!-- End Member Inner -->
      </div><!-- End Member -->

      <!-- Member -->
      <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="500">
        <div class="member-inner">
          <!-- Team Member Image -->
          <a class="team-image">
            <!-- Img -->
            <img src="~/images/clients/2.jpg" alt="" />
          </a>
          <div class="member-details">
            <div class="member-details-inner">
              <!-- Name -->
              <h2 class="member-name light">Roupas</h2>
              <!-- Description -->
              <p class="member-description">Doação de Roupas em ótimo estado</p>
              <!-- Socials -->
              <div class="socials">
                <!-- Image -->
                <a href="#"><i class="fa fa-camera"></i></a>
              </div><!-- End Socials -->
            </div> <!-- End Detail Inner -->
          </div><!-- End Details -->
        </div> <!-- End Member Inner -->
      </div><!-- End Member -->


      <!-- Member -->
      <div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="500">
        <div class="member-inner">
          <!-- Team Member Image -->
          <a class="team-image">
            <!-- Img -->
            <img src="~/images/clients/computador.jpg" alt="" />
          </a>
          <div class="member-details">
            <div class="member-details-inner">
              <!-- Name -->
              <h2 class="member-name light">Diversos</h2>
              <!-- Description -->
              <p class="member-description">Computador Completo</p>
              <!-- Socials -->
              <div class="socials">
                <!-- Image -->
                <a href="#"><i class="fa fa-camera"></i></a>
              </div><!-- End Socials -->
            </div> <!-- End Detail Inner -->
          </div><!-- End Details -->
        </div> <!-- End Member Inner -->
      </div><!-- End Member -->
    </div><!-- End Members -->
  </div><!-- End Team Inner -->
</section><!-- End Team Section -->


<!-- ============FOOTER============= Retirado-->

<!-- script references -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/nav-hover.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!-- Place in the <head>, after the three links -->
<script>
  $('.testimonials-slider').bxSlider({
    slideWidth: 800,
    minSlides: 1,
    maxSlides: 1,
    slideMargin: 32,
    auto: true,
    autoControls: true
  });
</script>
<script type="text/javascript">
</script>
