@{
  ViewData["Title"] = "Service3";
}
<!-- ============HEADER============= Views/Home/_Layout.cshtml -->

<div class="divider col-sm-12 col-xs-12 col-md-12">
    <div class="header-text"> Serviços <span> Doações</span></div>
</div>

<section id="blog-isotope" class="subpage bg-white">
    <div class="overlay-light">
        <div id="content" class="container">
            <!-- posts -->
            <div class="posts">
                <!-- post 1 -->
                <div class="post item col-md-2 col-xs-12 col-sm-2">

                </div>
            </div>
            <!-- post 2 -->
            <div class="post item col-md-8 col-xs-12 col-sm-8">
                <div class="panel">
                    <div class="panel-header">
                        <img src="~/img/fogao_geladeira.jpg" class="img-responsive" alt="image" />
                    </div>
                    <div class="panel-body">
                        <h4 class="post-title">Doador:</h4><h6>José Fernandes</h6>
                        <h4 class="post-title">Categoria:</h4><h6>Diversos</h6>
                        <h4 class="post-title">Nome do Produto:</h4><h6>Geladeira e Fogão</h6>
                        <h4 class="post-title">Descrição:</h4>

                        <p>Uma geladeira e um fogão novos, itens essenciais para qualquer cozinha. 
                          Com esta doação, uma família terá a capacidade de armazenar e preparar alimentos 
                          de maneira adequada, contribuindo significativamente para o seu bem-estar diário.
                        </p></b> Telefone para contato:(14) 3644 - 1234
                    </div>

                </div>
            </div>
            

        </div>
    </div><!-- /end overlay -->
</section><!--=== / END blog ===-->


        <!-- pager -->
        <ul class="col-md-12 pager wow animated fadeIn">
          <li class="previous"><a asp-area="" asp-controller="Home" asp-action="Service4">&larr; Anterior</a></li>
          <li class="next"><a asp-area="" asp-controller="Home" asp-action="Service2">Próximo &rarr;</a></li>
        </ul><!-- /end pager -->
      </div>
    </div><!-- /end overlay -->
</section><!--=== / END blog ===-->

<!-- ============FOOTER============= Retirado-->

<!-- script references -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/nav-hover.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<!-- Place in the <head>, after the three links -->
<script>
  $('.testimonials-slider').bxSlider({
    slideWidth: 800,
    minSlides: 1,
    maxSlides: 1,
    slideMargin: 32,
    auto: true,
    autoControls: true
  });
</script>
<script type="text/javascript">
</script>
