
@{
    ViewData["Title"] = "Sobre";
}


        <div class="divider col-sm-12 col-xs-12 col-md-12">
            <div class="header-text"> Sobre <span> O Trabalho</span></div>
        </div>

        <section id="blog-isotope" class="subpage bg-white">
        <div class="overlay-light">
            <div id="content" class="container">
                <!-- posts -->
                <div class="posts">
                    <!-- post 1 -->
                    <div class="post item col-md-2 col-xs-12 col-sm-2">
                           
                            </div>
                    </div>
                    <!-- post 2 -->
                    <div class="post item col-md-8 col-xs-12 col-sm-8">
                           <div class="panel">
                                  <div class="panel-header">
                                     <img src="~/img/gal-bg-feet-01.jpg" class="img-responsive"  alt="image"/>
                                  </div>
                                  <div class="panel-body">
                                       <h3 class="post-title"><a href="blog-post.html">Boação: Conectando Generosidade e Necessidade</a></h3>

                                        <p>Boação é um projeto de website desenvolvido como Trabalho de Conclusão de Curso Técnico em Informática.
                                          O objetivo do site é facilitar a doação de itens diversos, como alimentos, roupas, móveis e outros,
                                           conectando doadores a pessoas necessitadas. A plataforma permite que os usuários se cadastrem e
                                           publiquem o que têm para doar, enquanto aqueles em necessidade podem buscar e solicitar esses itens.
                                           Boação visa promover a solidariedade e criar uma rede de apoio comunitário, tornando a doação um processo simples e acessível para todos.
                                        </p>
                                  </div>
                                  
                            </div>
                    </div>
                 
            </div>
         </div><!-- /end overlay -->
      </section><!--=== / END blog ===-->
