@{
    ViewData["Title"] = "Sobre";
}


<div class="divider col-sm-12 col-xs-12 col-md-12">
    <div class="header-text"> Sobre <span> O Trabalho</span></div>
</div>

<section id="blog-isotope" class="subpage bg-white">
    <div class="overlay-light">
        <div id="content" class="container">
            <!-- posts -->
            <div class="posts">
                <!-- post 1 -->
                <div class="post item col-md-2 col-xs-12 col-sm-2">

                </div>
            </div>
            <!-- post 2 -->
            <div class="post item col-md-8 col-xs-12 col-sm-8">
                <div class="panel">
                    <div class="panel-header">
                        <img src="~/img/maos.jpg" class="img-responsive" alt="image" />
                    </div>
                    <div class="panel-body">
                        <h1 class="post-title">Boação: Conectando Generosidade e Necessidade</h1>

                        <h4>Boação é um website desenvolvido utilizando o framework ASP.NET Core da plataforma .NET.
                            Criado como Trabalho de Conclusão de Curso Técnico em Informática, o objetivo principal do
                            Boação é facilitar a doação de diversos itens, como alimentos, roupas, móveis e outros,
                            conectando doadores a pessoas necessitadas.
                        </h4>
                        <h4>A plataforma permite que os usuários se cadastrem e publiquem os itens que desejam doar.
                            Por outro lado, aqueles que estão em situação de necessidade podem buscar por esses itens
                            disponíveis e solicitar sua doação.
                        </h4>
                        <h4>O foco principal do Boação é promover a solidariedade e criar uma rede de apoio comunitário,
                            simplificando
                            e tornando acessível o processo de doação para todos os envolvidos. Utilizando tecnologias
                            modernas como
                            o ASP.NET Core, o website Boação busca integrar tecnologia e generosidade, incentivando a
                            participação ativa
                            da comunidade para ajudar aqueles que mais precisam.
                        </h4>
                    </div>

                </div>
            </div>

        </div>
    </div><!-- /end overlay -->
</section><!--=== / END blog ===-->
