
@{
    ViewData["Title"] = "Time";
}

<!-- ============HEADER============= Views/Home/_Layout.cshtml -->

<div class="divider col-sm-12 col-xs-12 col-md-12">
    <div class="header-text"> Nosso <span>Time</span></div>
</div>

<section id="team">
    
        <!-- team members -->
            <div class="text-center">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="team-members row">

                        <!-- div Aline -->
                        <div class="col-md-4 col-sm-6 wow animated-longer-delay-2 fadeInDown ">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="col-xs-12">
                                        <div class="avatar-team-member effects-container effects-enlarge">
                                            <a href="#">
                                                <img src="~/img/donor_aline.jpg" alt="image">
                                            </a>
                                        </div>
                                    </div>
                                    <h3>Aline Otília dos Santos</h3>
                                    <h4>Devenvolvimento </h4>
                                    <p><strong>Responsável pela parte do desenvolvimento, com C# e ASP.NET Core. Sua paixão pela codificação 
                                        e sua habilidade em resolver problemas foram fundamentais para garantir a funcionalidade e eficiência do website.
                                    </strong></p>
                                    <div class="text-center">
                                        <ul class="list-unstyled list-inline list-social-sq-primary">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- div Miria -->
                        <div class="col-md-4 col-sm-6 wow animated-longer-delay-3 fadeInDown ">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="col-xs-12">
                                        <div class="avatar-team-member">
                                            <img src="~/img/donor_miria.jpg" alt="image">
                                        </div>
                                    </div>
                                    <h3>Miria Dias de Castro</h3>
                                    <h4>Designer Gráfico</h4>
                                    <p><strong>Encarregada do design, é uma talentosa designer gráfica com expertise em ferramentas como Canvas. 
                                        Seu olhar criativo e atenção aos detalhes garantiram uma interface intuitiva e visualmente atraente 
                                        para os usuários do Boação.
                                    </strong></p>
                                    <div class="text-center">
                                        <ul class="list-unstyled list-inline list-social-sq-primary">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- div Heoisa -->
                        <div class="col-md-4 col-sm-6 wow animated-longer-delay-4 fadeInDown ">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="col-xs-12">
                                        <div class="avatar-team-member">
                                            <img src="~/img/donor_heloisa.jpg" alt="image">
                                        </div>
                                    </div>
                                    <h3>Heloísa Martinez Coutinho</h3>
                                    <h4> Documentação </h4>
                                    <p><strong>Responsável pela documentação, sua habilidade em documentar cada etapa do projeto,
                                        desde requisitos até processos de desenvolvimento, assegurou uma base sólida para o 
                                        entendimento e manutenção do Boação no futuro.
                                    </strong></p>
                                    <div class="text-center">
                                        <ul class="list-unstyled list-inline list-social-sq-primary">
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div><!-- / end team members -->
                </div><!-- / end inner container-->
            </div><!-- / end background color wrapper-->
    </section><!--=== / END meet the team ===-->

    <!-- ============FOOTER============= Views/Home/_Layout.cshtml-->
   
  <!-- script references -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/nav-hover.min.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- Place in the <head>, after the three links -->
    <script>
     $('.testimonials-slider').bxSlider({
      slideWidth: 800,
      minSlides: 1,
      maxSlides: 1,
      slideMargin: 32,
      auto: true,
      autoControls: true
      });
    </script>
    <script type="text/javascript">
    </script>

