@model Boacao.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title>Boação - Login</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>

<body>
    <form class="form-signin" method="post" asp-action="Login">
        <input type="hidden" asp-for="UrlRetorno">
        <div class="text-center mb-4">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt="Logo" width="200" height="200"></a>
            <h1 class="display-4 mb-3">Boação</h1>
            <p class="h5">Acesso as Doações</p>
        </div>
        <div asp-validation-summary="All" hidden></div>
        <div class="form-label-group">
            <input asp-for="Email" class="form-control text-dark">
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-white"></span>
        </div>
        <div class="form-label-group">
            <input asp-for="Senha" class="form-control">
            <label asp-for="Senha"></label>
            <span asp-validation-for="Senha" class="text-white"></span>
        </div>
        <div class="checkbox">
            <label>
                <input asp-for="Lembrar" /> @Html.DisplayNameFor(m => m.Lembrar)
            </label>
        </div>
        <button class="btn btn-lg w-100 btn-dark btn-block mt-3" type="submit">Entrar</button>
        <p class="my-3 fs-6 text-center">
            Não possui uma conta <a class="text-white" asp-action="Register">Clique Aqui!</a>
        </p>
        <p class="text-white text-center">&copy; @DateTime.Now.Year</p>
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        let mensagemErro = '';
        $(".validation-summary-errors ul li").each(function () {
            mensagemErro += $(this).text() + '<br/>';
        });
        if (mensagemErro != '')
            swal.fire(
                'Acesso Negado',
                mensagemErro,
                'error'
            );
    </script>
</body>

</html>
